<div class="sort-buttons">
  <button mat-button class="filter-button" [matMenuTriggerFor]="sortMenu">Sort by price</button>
  <mat-menu #sortMenu="matMenu">
    <button mat-menu-item (click)="sortProducts('asc')">Low to High</button>
    <button mat-menu-item (click)="sortProducts('desc')">High to Low</button>
  </mat-menu>
</div>

<div class="product-cards">
  <div class="product-card" *ngFor="let product of products">
    <a class="product-link" [routerLink]="['/product', product.id]">
      <img class="product-image" [src]="product.imageSrc" alt="{{ product.name }}" />
      <div class="product-info">
        <div class="product-name">{{ product.name }}</div>
        <div class="price-cart">
          <span class="product-price">{{ product.price | number:'1.0-2' }}$</span>
          <button class="add-to-cart" (click)="addToCart(product)">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
          <!-- כפתור לב להוספה ל-Wish List -->
          <button class="wish-icon-btn" (click)="addToWishList(product)" aria-label="Add to Wish List">
            <mat-icon>favorite_border</mat-icon>
          </button>
        </div>
      </div>
    </a>
  </div>
</div>

<!-- הודעת עדכון קטנה -->
<div *ngIf="wishListMessage" class="wish-list-message">
  {{ wishListMessage }}
</div>