<div class="product-cards">
  <div class="product-card" *ngFor="let product of products">
    <a [routerLink]="['/product', product.id]" class="product-link">
      <img [src]="product.imageSrc" [alt]="product.name" class="product-image" />
      <h3 class="product-name">{{ product.name }}</h3>
    </a>
    <div class="product-info">
      <p class="product-price">{{ product.price | number:'1.0-2' }}&#36; USD</p>
      <button mat-icon-button color="primary" (click)="addToCart(product!); $event.stopPropagation()">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </div>
  </div>
</div>