.product-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  width: 220px;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: none;
  text-align: center;

  .product-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .product-image {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
  }
  
  .product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    min-height: 120px;  // עדכון גובה מינימלי למידה נוחה
    padding: 0 8px;
  }
  
  .product-name {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 6px;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.3;
  direction: ltr;
  text-align: left;
}
    
  .price-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: #333;
    margin-top: auto;
  }
    
  .add-to-cart {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: #000;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}