<div class="toolbar">
  <div class="sort-buttons">
    <button mat-button class="filter-button" [matMenuTriggerFor]="sortMenu">
      Sort by price
    </button>
    <mat-menu #sortMenu="matMenu">
      <button mat-menu-item (click)="sortProducts('asc')">Low to High</button>
      <button mat-menu-item (click)="sortProducts('desc')">High to Low</button>
    </mat-menu>

    <!-- כפתור חיפוש מיושר בתוך אותה שורה -->
    <button mat-icon-button class="search-button" (click)="toggleSearch()" aria-label="Toggle Search">
      <mat-icon>search</mat-icon>
    </button>
  </div>
</div>

<div class="search-container" *ngIf="showSearch">
  <button class="close-search" (click)="toggleSearch()" aria-label="Close Search">
    <mat-icon>close</mat-icon>
  </button>
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search Products</mat-label>
    <input matInput placeholder="Enter product name" [(ngModel)]="searchText">
  </mat-form-field>
</div>

<div class="product-cards">
  <div class="product-card" *ngFor="let product of products | productFilter: searchText; trackBy: trackByProduct" 
       appCoolEffect
       [ngClass]="{'selected': product.id === selectedProductId}"
       (mouseenter)="selectedProductId = product.id"
       (mouseleave)="selectedProductId = null">
    <a class="product-link" [routerLink]="['/product', product.id]">
      <img class="product-image" [src]="product.imageSrc" alt="{{ product.name }}" />
      <div class="product-info">
        <div class="product-name">{{ product.name }}</div>
        <div class="price-cart">
          <span class="product-price">{{ product.price | number:'1.0-2' }}$</span>
          <button class="add-to-cart" (click)="addToCart(product)">
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
          <button class="wish-icon-btn" (click)="addToWishList(product)" aria-label="Add to Wish List">
            <mat-icon>favorite_border</mat-icon>
          </button>
        </div>
      </div>
    </a>
  </div>
</div>

<div *ngIf="wishListMessage" class="wish-list-message">
  {{ wishListMessage }}
</div>