/* Header styles */
.header {
  // position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    .right-icons {
      display: flex;
      gap: 15px;
      justify-content: flex-start; /* מעביר את האייקונים לצד ימין */

      .icon {
        font-size: 20px;
        cursor: pointer;
        color: black;
      }
    }

    .logo {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      flex-grow: 1;
    }
  }

  .main-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    border-top: 1px solid #ddd;

    .nav-link {
      text-decoration: none;
      color: black;
      font-size: 16px;
      font-weight: bold;
      transition: color 0.3s;

      &:hover,
      &:focus {
        color: brown;
        cursor: pointer;
      }
    }
  }
}

/* Main image styles */
.main-image {
  margin-top: 120px; // To account for the fixed header

  img {
    width: 100%;
    height: auto;
    display: block;
  }
}