<mat-toolbar class="top-bar">
  <div class="spacer"></div>
  <div class="logo">Goldblat Diamonds</div>
  <div class="spacer"></div>
  <div class="icons">
    <button mat-icon-button (click)="goToAccount()" aria-label="Account">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button routerLink="/cart" aria-label="Cart">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
</mat-toolbar>

<nav class="main-nav">
  <div class="dropdown">
    <button mat-icon-button class="dropbtn" >Jewelry</button>
    <div class="dropdown-content">
      <a [routerLink]="['/category', 'rings']">Rings</a>
      <a [routerLink]="['/category', 'earrings']">Earrings</a>
      <a [routerLink]="['/category', 'bracelets']">Bracelets</a>
      <a [routerLink]="['/category', 'necklaces']">Necklaces</a>
    </div>
  </div>
  <a class="nav-link" routerLink="/category/diamonds">Diamonds</a>
  <a class="nav-link" routerLink="/sale">Sale</a>
  <a class="nav-link" routerLink="/new">New</a>
  <a class="nav-link" routerLink="/contact">Contact</a>
</nav>